<template name="homes">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2">
                <div class="jumbotron">
                    <form class="form-inline">
                        <button type="submit" name="roomId" class="btn btn-default" value="general">General Room
                        </button>
                        <button type="submit" name="roomId" class="btn btn-default" value="{{random}}">Random Room
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="room">
    <br>
    <br>
    <br>
    <br>
    {{#if avatar }}
        {{>SimpleChatWindow roomId=roomId username=username avatar=avatar beep=true limit=5 }}
    {{/if}}
</template>