template(name="ForgotPassword")
  .login-screen.modal-in
    .view
      .page
        .page-content.login-screen-content
          .login-screen-title
            img.trazo-login(src="/img/trazo-logo.svg")
            p ¿Forgot your password?
          p.text-center.text-white Enter your username and you'll receive an email with instructions to reset password
          form
            .list-block
              ul
                li.item-content
                  .item-inner                 
                    .item-input
                      input.input-app-1(type='email', name='registerUsername', placeholder='Your username')           
            .list-block
              ul
                li
                  input.item-link.list-button.button.ripple-blue.button-big.button-fill.button-raised(type="submit" value="Recover Password")        
              .list-block-label
                a(href="{{pathFor 'login'}}") I already have an account, login.
              .list-block-label
                a(href="{{pathFor 'createAccount'}}") ¿Don't have an account? lets create one.