template(name="ForgotPassword")
    .login-screen.modal-in
      .view
        .page
          .page-content.login-screen-content
            .login-screen-title
              +logo
            form
              .list-block
                ul
                  li.item-content
                    .item-inner            
                      .item-input
                        input(type='text', name='registerUsername', placeholder='Your username')             
              .list-block
                ul
                  li
                    input.item-link.list-button.button.ripple-blue.button-big.button-fill.button-raised(type="submit" value="Recover Password")
                |               
                .list-block-label
                  p Soon, you will get an email.