/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login-screen {
  .login-screen-title {
    padding-top: 15px;
    margin: 0px!important;
    background-color: #fff;
    font-size: 15px;
    height: 35%!important;
    max-width: 100%!important;
    img {
      max-width: 35%;
    }
  }
  //botón de login
  .list-block .item-link.list-button {
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 20px;
  }
  .page, .page-content {
    background: #375493;
    padding-top: 0px;
  }
}
