/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login-screen {
  //botón de login
  .list-block .item-link.list-button {
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 20px;
  }
  .page, .page-content {
    background: #375493;
    padding-top: 0px;
  }
}
