template(name="getapp")
  .pages.navbar-through.toolbar-through
    .page.page-on-center(data-page='index')
       .page-content.landing-background
            .content-block
                .row.p40
                    .col-100.tablet-50
                        h1.title-landing Eichelmann Insurance Agency App
                        h2.subtitle-landing Facilitates the following:
                        ul.ul-heading
                            Li After Hours/ Weekend Communication
                            Li Live Chat
                            Li Referral Program
                            Li Accident and Roadside Assistance Guidance
                            Li Community Involvement Newsletter
                            Li ID Card Access
                            Li Payment Processing 
                            Li Schedule a call back
                        a(href="https://play.google.com/store/apps/details?id=com.hygge.admin.insurance&hl=es_419")
                            img.google-play(src="/img/get-google-play.png")
                    .col-100.tablet-50
                        p.text-center
                            img(src="/img/iphone-black.png").illustation-app
                .row
                    .col-100
                        p.text-center Privacy policy
                        | The owner does not provide a list of Personal Data types collected.
                        | Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.
                        | The Personal Data may be freely provided by the User, or collected automatically when using this Application.
                        | Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.
                        | Failure to provide certain Personal Data may make it impossible for this Application to provide its services.
                        | Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.