template(name="getapp")
  .pages.navbar-through.toolbar-through
    .page.page-on-center(data-page='index')
       .page-content.landing-background
            .content-block
                .row.p40
                    .col-50
                        h1.title-landing Eichelmann Insurance Agency App
                        h2.subtitle-landing Facilitates the following:
                        ul.ul-heading
                            Li After Hours/ Weekend Communication
                            Li Live Chat
                            Li Referral Program
                            Li Accident and Roadside Assistance Guidance
                            Li Community Involvement Newsletter
                            Li ID Card Access
                            Li Payment Processing 
                            Li Schedule a call back
                        a(href="#")
                            img.google-play(src="/img/get-google-play.png")
                    .col-50
                        p.text-center
                            img(src="/img/iphone-black.png")