template(name='Home')
  +welcome
template(name="welcome")
  .pages.navbar-through.toolbar-through
    .page.page-on-center(data-page='index')
      +contenidoDashboard
template(name="contenidoDashboard")
  .page-content.dashboard
    img.link.icon-only.open-panel.menu.shadowed(src="/img/menu.svg")
    +typed
    +llamada
    +chat
    +choque
template(name="typed")
  .typed-box
    span.typed
    span.typed-cursor
template(name="llamada")
  .llamadaRender
    a(href="#")
      img.llamada(src="/img/telefonoVector.svg")
template(name="chat")
  +sChatBox
template(name="choque")
  img.choque.shadowed(src="/img/choque.svg")