template(name='Profile')
  .pages.navbar-through.toolbar-through.profile-page-parent
    .page.page-on-center
      style.
        .profile-card::after {
          background-image: url({{#if currentUser.profile.profilePicture}}{{currentUser.profile.profilePicture}}{{else}}/img/blank-avatar-big.png{{/if}});
          background-position: center;
          background-color: white;
        }
      .profile-card
        .content-block-title.position-bottom
          each users
            p
              .fa.fa-circle.circle-red
              +editableText(collection="users" field="profile.name" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>')
            p.type-client.light
              | {{currentUser.roles}}
            hr.white
            p.light
              a#invite.button-transparent(href="https://www.facebook.com/sharer/sharer.php?u=https://www.meteor.com/") Invite friends
      +Menu
    +PickerLicencia
template(name="PickerLicencia")
  // Picker
  .picker-modal.picker-1
    .toolbar
      .toolbar-inner
        .left
          a.takePhoto(href='#')
            i.fa.fa-camera-retro
            |  replace with new photo
        .right
          a.close-picker(href='#') Done
    .picker-modal-inner
      img.license(src="{{#if currentUser.profile.license}}{{currentUser.profile.license}}{{else}}/img/credencial.jpg{{/if}}")