template(name='Profile')
    .pages.navbar-through.toolbar-through.profile-page-parent
        .page.page-on-center
            .background-overlay
                .page-content.profile-page
                    .content-block-title
                        h2.text-center Israel Ortiz Cortés
                        p.text-center Age: 26
                        p.text-center Insurance ID: Axxa-2890789078
            .page-content
                .profile-info
                    .block-1
                        .content-block-pill
                            .row
                                .col-100
                                    b Insured with: 
                                    br
                                    small Eichelmann Insurance Agency
                    .block-2
                        .content-block-pill
                            .row
                                .col-100 
                                    b Another info
                                    br
                                    small Of course
                    .block-3
                        .content-block-pill
                            .row
                                .col-100 
                                    b But i want more
                                    br
                                    small Fair enough