template(name="Chat")
  .page.toolbar-fixed
    +inputMessage
    .page-content.messages-content
        .messages
          // Date stamp
          .messages-date
            | Sunday, Feb 9 
            span 12:58
          // Sent message (by default - green and on right side)
          .message.message-sent
            // Bubble with text
            .message-text Hello
          // Another sent message
          .message.message-sent
            // Bubble with text
            .message-text How are you?
          each messages 
            +message
          // Another date stamp
          .messages-date
            | Sunday, Feb 3 
            span 11:58
          // Sent message with image
          .message.message-pic.message-sent
            // Bubble with image
            .message-text
              img(src='http://lorempixel.com/300/300/')
            // Message label
            .message-label Delivered 2 days ago

template(name="message")
  // Received message (by default - grey on left side)
  .message.message-with-avatar.message-received
    // Sender name
    .message-name {{name}}
    // Bubble with text
    .message-text {{message}}
    // Sender avatar
    .message-avatar(style='background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)')

template(name="inputMessage")
  .toolbar.messagebar.messagebar-init(data-max-height='200')
    .toolbar-inner
      textarea#message(placeholder='Message' name="message")
      a.link(href='#') Send
