template(name='MasterLayout')
  if currentUser
    +panelContent
  .views
    .view.view-main
        .navbar
          .navbar-inner.navbar-on-center
            //.center.sliding Eichelmann insurance app
            .right
              a.link.icon-only.open-panel(href='#')
                img.menu.shadowed(src="/img/menu.svg")
        +yield
template(name='panelContent')
  .statusbar-overlay
  .panel-overlay
  .panel.panel-left.panel-cover.layout-dark
    style.
      .profile-card::after {
        background-image: url({{currentUser.profile.profilePicture}});
      }
    .profile-card
      .content-block.content-block-gear
        i.fa.fa-cog.fa-2x.pull-right
      .content-block-title.position-bottom
        each users
          p
            .fa.fa-circle.circle-red
            +editableText(collection="users" field="profile.name" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>')
          p.type-client.light
            | {{currentUser.roles}}
          hr.white
          p.light
            a#invite.button-transparent(href="https://www.facebook.com/sharer/sharer.php?u=https://www.meteor.com/") Invite friends
    +Menu
template(name='Menu')
  .list-block.info-cards
    ul
      li
        p.light Driver license id
        each users
          p 
            +editableText(collection="users" field="profile.driver_id" placeholder="Enter your driver id" acceptEmpty=true substitute='<i class="fa fa-pencil"></i>')
      li
        p.light ¿insurance?
        p Eichelmann insurance
      li
        p More about eichelmann insurance agency
      li#logout
        p.logout Logout