template(name='MasterLayout')
  +panelContent
  .views
    .view.view-main
        .navbar
          .navbar-inner.navbar-on-center
            //.center.sliding Eichelmann insurance app
            .right
              a.link.icon-only.open-panel(href="#")
                img.menu.shadowed(src="/img/menu.svg")
        +yield
template(name='panelContent')
  .statusbar-overlay
  .panel-overlay
  .panel.panel-left.panel-cover.layout-dark
    style.
      .profile-card::after {
        background-image: url({{#if currentUser.profile.profilePicture}}{{currentUser.profile.profilePicture}}{{else}}/img/blank-avatar-big.png{{/if}});
        background-position: center;
      }
    .profile-card
      .content-block.content-block-gear
        a(href="/profile/{{currentUser._id}}")
          i.fa.fa-cog.fa-2x.pull-right
      .content-block-title.position-bottom
        each users
          p
            .fa.fa-circle.circle-red
            +editableText(collection="users" field="profile.name" acceptEmpty=true substitute='Full name')span.white-no-wrap.fa.fa-pencil
          p.type-client.light
            | {{currentUser.roles}}
          hr.white
          p.light
            a#invite.button-transparent(href="https://www.facebook.com/sharer/sharer.php?u=https://www.meteor.com/") Invite friends
    +Menu
  +PickerLicencia
template(name='Menu')
  .list-block.info-cards
    ul
      li
        a(href="#" data-picker=".picker-1" class="open-picker")
          | View or replace id card
      li
        p.light ¿Which insurance?
        each users
          p 
            +editableText(collection="users" field="profile.which-insurance" placeholder="Type of insurance" acceptEmpty=true substitute='Enter agency')span.white-no-wrap.fa.fa-pencil
      li
        p 
          a(href="https://www.insuranceratesdfw.com/")
            | More about eichelmann insurance agency
      li#logout
        p.logout Logout