template(name='MasterLayout')
  +panelContent
  .views
    .view.view-main
        .navbar
          .navbar-inner.navbar-on-center
            //.center.sliding Eichelmann insurance app
            .right
              a.link.icon-only.open-panel(href='#')
                img.menu.shadowed(src="/img/menu.svg")
        +yield
template(name='panelContent')
  .statusbar-overlay
  .panel-overlay
  .panel.panel-left.panel-cover.layout-dark
    style.
      .profile-card::after {
        background-image: url({{currentUser.profile.profilePicture}});
      }
    .profile-card
      .content-block.content-block-gear
        i.fa.fa-cog.fa-2x.pull-right
      .content-block-title.position-bottom
        p
          .fa.fa-circle.circle-red
          {{currentUser.profile.name}}
        p.type-client.light
          | Regular client
        hr.white
        p.light
          a.button-transparent(href="#") Invite friends
    +Menu
template(name='Menu')
  .list-block.info-cards
    ul
      li
        p.light Number on id card
        if currentUser
          p 
            +editableText(collection="users" field="profile.name" placeholder="Enter username")
      li
        p.light ¿insurance?
        p Eichelmann insurance
      li
        p More about eichelmann insurance agency
      li
        p.logout Logout