template(name='MasterLayout')
  +panelContent
  .views
    .view.view-main
      //.navbar
        .navbar-inner.navbar-on-center
          .center.sliding Eichelmann insurance app
          .right
            a.link.icon-only.open-panel(href="#")
              img.menu.shadowed(src="/img/menu.svg")
      +yield
template(name='panelContent')
  .statusbar-overlay
  .panel-overlay
  .panel.panel-left.panel-cover.layout-dark
    style.
      .profile-card::after {
        background-image: url({{#if currentUser.profile.profilePicture}}{{currentUser.profile.profilePicture}}{{else}}/img/blank-avatar-big.png{{/if}});
        background-position: center;
      }
    .profile-card
      .content-block.content-block-gear
        //a(href="/profile/{{currentUser._id}}" class="floating-button floating-button-to-popover open-popover")
        a(href="#" class="floating-button-to-popover open-popover")
          i.fa.fa-cog.fa-2x.pull-right
        a(href="#" )#cambiar-perfil
          i.fa.fa-camera.fa-2x.pull-left
      .content-block-title.position-bottom
        each users
          p.title-profile
            .fa.fa-circle.circle-red
            +editableText(collection="users" field="profile.name" acceptEmpty=true substitute='Full name')span.white-no-wrap.fa.fa-pencil
          p.type-client.light
            | {{currentUser.roles}}
          hr.white
          p.light
            a#invite.button-transparent(href="https://www.facebook.com/sharer/sharer.php?u=https://www.meteor.com/") Invite friends
    +Menu
  +PickerLicencia
  +PickerHelp
  +GearPopOver
template(name='Menu')
  .list-block.info-cards
    ul
      li
        p.light
          a(href="#" data-picker=".picker-1" class="open-picker")
            | View or replace id card
      li
        p.light ¿Which insurance?
        each users
          p 
            +editableText(collection="users" field="profile.which-insurance" placeholder="Type of insurance" acceptEmpty=true substitute='Enter agency')span.white-no-wrap.fa.fa-pencil
      li
        p.light
          a(href="https://www.insuranceratesdfw.com/")
            | More about eichelmann insurance agency
      li#logout
        p.logout Logout
template(name="GearPopOver")
  .popover.demo-popover
    .popover-inner
      .list-block
        ul
          li
            a.item-content.item-link(href='#' data-picker=".picker-2" class="open-picker help-popover")
              .item-inner
                .item-title Help?
template(name="PickerLicencia")
  // Picker
  .picker-modal.picker-1
    .toolbar
      .toolbar-inner
        .left
          a.takePhoto(href='#')
            i.fa.fa-camera-retro
            |  replace with new photo
        .right
          a.close-picker(href='#') Done
    .picker-modal-inner
      img.license(src="{{#if currentUser.profile.license}}{{currentUser.profile.license}}{{else}}/img/driver-id-sample.jpg{{/if}}")
template(name="PickerHelp")
  // Picker
  .picker-modal.picker-2
    .toolbar
      .toolbar-inner
        .left
        .right
          a.close-picker(href='#') Understood
    .picker-modal-inner
      h2 Hello, welcome to Eichelman Insurance App. 
      p At bottom you can see 3 buttons 
      img.threebuttons(src="/img/threebuttons.jpg")
      p The red one will alert us about your situation.
      p Bottom left button will call Eichelmann Insurance Agency, call us in any of our lines.
      p With bottom right button you can talk with a specialist.
      p Top right button will show your profile, feel free to complete your data, this will allow us to help you properly.
